
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url("https://use.typekit.net/ccs7mjq.css");

/*
 * Designing form for contact page
 */
form {
    border-radius: 5px;
    width: auto;
    padding-bottom: 120px;
    padding-top: 25px;
    display: flex;  
    flex-direction: column;
    line-height: normal;                 
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ------------- Styling Submit button ------------- */
input[type=submit] {
    width: 50%;
    background-color: #55b5e5;
    opacity: 0.75;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }

input[type=submit]:hover{
    opacity: 1.0
}
/* ------------------------------------------------ */

/* ----------- Styling Form Componenets ----------- */
label {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .015em;
    color: #6c6c6c;
    display: block;
    width: 90px;
}

input,
textarea {
    height: 40px;
    width: 75%;
    box-sizing: border-box;
    display:block;
}

input {
    margin-left: 10px;
  }

input:focus,
textarea:focus {
    border-color: #000;
}

legend {
    font-family: droid-serif, serif;
    font-size: 16px;
    padding: 5px 10px;
}

span {
    font-family: "Optima";
    font-size: 15px;
    font-weight: 300;
}
/* ------------------------------------------------ */
.subtext {
    color: #a3a3a3;
}
/*
 * Styling classes
 */
.contact-fieldset {
    border: 0;
    margin: auto;
    margin-left: 12%;
    width: 90%;
}

.contact-form {
    border-color: rgb(4, 2, 15);
    margin: 0 12px 0 12px;
    background-color: rgb(255, 255, 255);
}
