
.address {
    margin-top: 3%;
}


.locationimage {
    height: 650px;
    width: 55%;
    object-fit: cover;
    margin: 20px 55px 0 ;
    float: left;            /* Splits image to be on the left */
    position: relative;
    padding-top: 3%;
    object-position: 0% 65%;
}


.location-container {
    position: relative;
    width: 100%;

}
.location-container img {
    position: relative;
}

.location-container .left-button{
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(111%, 750%);
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.location-container .right-button{
    position: absolute;
    top: 0%;
    right: 40%;
    transform: translate(-35%, 750%);
    /* -ms-transform: translate(-50%, -50%); */
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .location-label{
      width:  225px;
      position: absolute;
      text-align: center;
      background-color: black;
      color: white;
      left: 15%;
      transform: translate(-50.5%, 800%);
      font-size: 20px;
 
  }

@media (max-width: 1360px) {
    
    .locationimage {
        float: none; 
        width: 65%;
        margin: auto;
        padding-bottom: 10%;
    }

    .address {
        padding: 30px;
        margin-top: 0;
        margin-bottom: 6%;
        width: 70%;
    }

    .location-container .left-button {
        top: 0%;
    }

    .location-container .right-button {
        right: 3%;
    }
}